# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be committed to the VCS, but must not contain
# any secret values.

# === General ===
DOMAIN_NAME=127.0.0.1


# === Django ===
# Generate yours with:
# python3 -c 'from django.utils.crypto import get_random_string; print(get_random_string(50))'
DJANGO_SECRET_KEY=__CHANGE_THIS_VERY_SECRET_KEY__
DJANGO_ALLOWED_HOSTS=*


# === Fast_api ===
PROJECT_NAME=movies


# === Database ===
POSTGRES_DB=movies
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432


# === Elastic ===
ELASTIC_HOST=elastic
ELASTIC_PORT=9200


# === Redis ===
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_AUTH=password


# === Assistant ===
ASSISTANT_ALLOWED_HOSTS=0.0.0.0
ASSISTANT_LOG_LEVEL=WARNING
ASSISTANT_LOG_FILE=logs/assitant.log
SEARCH_API_URL=http://fast_api:8000/api/v1/


# === Bob ===
VOSK_MODEL=vosk-model-small-ru-0.22